// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors

$blue-1:#ebefff;
$blue-2:#a5b4fc;
$blue-3:#818cf8;
$blue-4:#6366f1;
$blue-5:#4f46e5;
$blue-6:#4338ca;
$blue-7:#3730a3;
$blue-8:#1e3a8a;

$lightBg:hsl(0, 0%, 94%);
$textColor: #42474c;
$textLight1Color: hsl(210, 5%, 44%);
$errorHighlight:#fecdd3;
$primaryGradient:linear-gradient(to top right, #3730a3, #7e22ce);
$black:hsl(0, 0%, 10%);
$borderColor:#EFEFEF;
$lightColor: #fafafa;
